{namespace r=RENOLIT\ReintMailtaskExample\ViewHelpers}
<f:layout name="Mail" />
<f:section name="Title">
	<h1><f:translate key="example_mail_headline" languageKey="{languageKey}" /></h1>
</f:section>
<f:section name="Main">
	<p><f:translate key="example_mail_text" languageKey="{languageKey}" /></p>
	<p><f:if condition="{r:check.isInteger(variable:'{config.link}')}">
		<f:then><r:link.page pageUid="{config.link}"><f:translate key="example_mail_link_page" languageKey="{languageKey}" /> (<r:uri.page pageUid="{config.link}" />)</r:link.page></f:then>
		<f:else><f:link.external uri="{config.link}" target="_blank"><f:translate key="example_mail_link_external" languageKey="{languageKey}" /> (<f:uri.external uri="{config.link}" />)</f:link.external></f:else>
	</f:if></p>
</f:section>
<f:section name="Footer">
	<em><f:translate key="example_mail_footer" languageKey="{languageKey}" /></em>
</f:section>